@font-face {
  font-family: "ABCROM-Regular";
  src: url("@/assets/fonts/ABCROM-Regular.woff2") format("woff2"),
    url("@/assets/fonts/ABCROM-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
